body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

#array-container {
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Align items to the bottom */
    margin-top: 20px;
}

.bar {
    width: 20px;
    margin: 2px;
    background-color: black;
}
